body {
   background-color: #222;
}

.singlePad {
   transition: all 0.2s;
   margin: 2px;
   width: 150px;
   height: 150px;
   border-radius: 13px;
   border: solid 2px #222;
}

.singlePad:hover {
   opacity: 0.7;
}

.drumPad {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 462px;
}

.iconWrapper {
   margin: 2.5rem;
   display: flex;
   justify-content: space-between;
}

.iconWrapper i {
   transition: all 0.3s;
}

.iconWrapper i:hover {
   opacity: 0.5;
}

#playBtn,
#recordBtn,
#stopBtn,
#trashBtn {
   font-size: 65px;
   color: #eee;
}

.is-not-active {
   display: none !important;
}
