body {
   background-color: #222;
}

.singlePad {
   margin: 2px;
   width: 150px;
   height: 150px;
   border-radius: 13px;
   border: solid 2px #222;
}

.drumPad {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 462px;
}

.iconWrapper {
   margin: 2.5rem;
   display: flex;
   justify-content: space-between ;
}

#playBtn,
#recordBtn,
#stopBtn,
#trashBtn {
   font-size: 65px;
   color:#eee;
}

.is-not-active {
   display: none !important;
}