body {
   background-color: #222;
}

.singlePad {
   margin: 2px;
   width: 150px;
   height: 150px;
   border-radius: 13px;
   border: solid 2px #222; 
}

.drumPad {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 462px;
}

.playBtn {
   display: block;
   margin: 0 auto;
}
