body {
   background: url("./images/bg.png");
}

.contentWrapper {
   background: url("./images/wrapperbg.png");
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   position: absolute;
   color: #fff;
   width: 500px;
   height: 300px;
   padding: 50px;
}

video {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
}
