body {
   background: url("./images/bg.png");
}

p {
   margin: 0;
   padding: 0;
}

.contentWrapper {
   background: url("./images/wrapperbg.png");
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   position: absolute;
   color: #fff;
   width: 500px;
   height: 300px;
   padding: 50px;
}
h1 {
   margin-top: 0;
}
input, textarea {
   margin-bottom: 10px;
   padding: 5px;
}
