body {
   background: url("./images/bg.png");
   font-family: 'Jellyka Delicious Cake';
}

h1 {
   margin: 0;
   font-size: 80px;
}

p {
   font-size: 20px;
}

.contentWrapper {
   background: url("./images/wrapperbg.png");
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   position: absolute;
   color: #fff;
   width: 500px;
   height: 300px;
   padding: 50px;
}

@font-face {
   font-family: 'Jellyka Delicious Cake';
   src: url('./fonts/JellykaDeliciousCake.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
